{% extends "base.html" %}

{% block content %}
    {% for registration in registration_list %}
        <p>
            <a href="{% url 'registration-detail' registration.id%}">{{registration}}</a>
            <button onclick="window.location.href = '{% url 'registration-del' registration.id%}'">Delete</button>
            <button onclick="window.location.href = '{% url 'registration-upd' registration.id%}'">Update</button>
        </p>
    {% endfor %}
    <button onclick="window.location.href = '{% url 'test-add'%}'">Add</button>
{% endblock content %}